// Data for tests

@function darkenbyten($color) {
  @return darken($color, 10%);
}

@function gt5($val) {
  @return $val > 5;
}

$strlist: 'alex' 'billy' 'charlie' 'dani' 'elliot';
$listfrag1: 'alex' 'billy';
$listfrag2: 'charlie' 'dani';
$clrlist-nested: (#fff, red, (#222, (#333, #444), #555, (#666, #777)));
$clrlist-flat: (#fff red #222 #333 #444 #555 #666 #777);
$clrlist-darkened: (#e6e6e6 #cc0000 #090909 #1a1a1a #2b2b2b #3c3c3c #4d4d4d #5e5e5e);
$clrobj: (header:(one: #333, two: #444), footer: #666);
